# Default ignored files
/../../System Security /.idea/shelf/
/../../System Security /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../System Security /.idea/httpRequests/
# Datasource local storage ignored files
/../../System Security /.idea/dataSources/
/../../System Security /.idea/dataSources.local.xml
